
				<main class="col-md-12">



					<!-- Start your code here -->
					
  <h1>Welcome to About</h1>
  <p>Welcome to my About page. Here you will find some information about me.</p>
  <h2>About Me</h2>
  <p>I am Prakash. I am a student at Seneca College, studying Business Information Technology with Student ID = 117302224.</p>
					
					<!-- End your code here  -->



				</main>